{% extends 'main/style.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="features">
        <h1>Главная страница</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda, consectetur consequatur eveniet impedit, ipsum magnam maiores nemo, optio reiciendis repellat repellendus soluta unde? Consequatur delectus ducimus molestias repellendus sapiente.</p>
        <button class="btn btn-success">Принять</button>
</div>
{% endblock %}
